<!DOCTYPE html>
<html>
<head>
    <title>coffee shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/layout/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    @RenderBody()


    <script src="~/Scripts/myscripts/homepage.js"></script>
    <script src="~/Scripts/myscripts/movepicture.js"></script>
    <script src="~/Scripts/myscripts/picturecolor.js"></script>
    <script src="~/Scripts/myscripts/playAudio.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
